version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-php-app:latest
    volumes:
      - /Users/ralph/Documents/demo/golf-front-end:/var/www/html
    command: tail -f /dev/null
